body {
background-color: #6D7C7B;
color: whitesmoke;
font-family: fantasy;
}
fieldset>section {
	padding: 2.5px;
	@keyframes mymove {
  from {background-color: #2F1E14;}
  to {background-color: #550710;}
  to {background-color: #AD934A;}
  to {background-color: #88AB5A;}
}
	margin: 0 auto;
}
